@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* SF Pro */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    /* Noto Serif */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

    /* Noto San-Serif */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

    h1, h2, h3, h4, h5, h6, p, a, li {
        font-family: "SF Pro", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings: "wdth" 100;
    }

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .animate {
        opacity: 0;
    }

    .animated {
        opacity: 0;
        animation: slide-up 0.5s ease-in-out forwards;
    }
}
